!/input/example.png
!/web/extensions/core/
!/web/extensions/logging.js.example
*.ckpt
*.h5
*.joblib
*.mlmodel
*.onnx
*.pb
*.pbtxt
*.pkl
*.png
*.pt
*.pth
*.py[cod]
*.safetensors
*.tflite
*.webp
.cache
.idea/
.openart_key
.tmp
.vscode/
.youml
/.vs
/input/
/models/
/output/
/temp/
/tests-ui/data/object_info.json
/user/
/web/extensions/*
/workflows*/*.json
__pycache__/
channels.list
comfyworkflows_sharekey
config.ini
custom_nodes/
extra_model_paths.yaml
github-stats-cache.json
matrix_auth
pip_overrides.json__pycache__/
snapshots/**
startup-scripts/**
venv/
